


body {
  /* margin: 0;
  padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
 background-color: rgba(250, 250, 250, 0.795) !important;
 color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.single {
    padding: 30px 15px;
    margin-top: 40px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0; }
    .single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase; }
    .single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px; }
    
    .single ul {
    margin-bottom: 0; }
    .single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none; }
    .single li a:hover {
    color: #ff173c; }
    .single li:last-child a {
    border-bottom: 0; }


.custom{

  width: 70% !important;
  top:50px;
  margin-bottom: 80px;
  align-content: center;
  margin-left: 15%;
 
  
}

.Createform{
  top:500px !important;

}

.navbar-brand{
font-family: 'Lobster Two';
font-size: 100px;
font-style:bold;
color: white !important;
}

.navbar{
background-color: #333 !important;
border-bottom: 1px solid #444;
max-height: 80px;
position: relative;
z-index: 23;

}

img{
  opacity: 0.5;

}

.mainP{
  font-size: 60px;
  text-align: left;
  top: 50px;

}
.team{
  font-size: 70px;
 text-align: center;
 font-family: 'Cabin'!important;
}

.mainCarousel{
  top:50px;
 margin-bottom: 6%;
 margin-right: -12%;
 margin-left: -12%;
height: 501px !important;
}


.card.cardchat{

  width: 790% !important;
  height: 270% !important;
  
 margin-left:-310%;
  
}
.card-body{
  height:700% !important;
}

.messages{
  height:-500% !important;
}
/* 
.member{

  width: 500% !important;
  height: 300% !important;
} */
.wrapper {
  background-color: #339966
}

.groupstitle {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFF;
}
/* 
.card{
  width:50%;
  background: rgba(255,0,0,0.1);
} */
.card-block{
  background: rgba(255,0,0,0.1);
  width: 100% !important;
}
.card-footer{
  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjRsZTzi7PhAhWQmBQKHdHVDg0QjRx6BAgBEAU&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Ficons-of-business-groups-share-your-opinions-vector-3385501&psig=AOvVaw3mvmyIsXY3qaxeEf1Jn94C&ust=1554352317701831') !important;
}
.btn btnexit{
  width: 20px !important;
  background: #ff173c !important;
}
.list-group-item{
  margin-top: 15px;
  width:55%;
  border-radius: 30px !important;
  border-color: #333 !important;
}

.btn.btn-light{
   margin-left: 80% !important;
   border-radius: 30px !important;
}

.member{
  width:200% !important;
  height: 132% !important; 
  margin-top:3px;
   background-color: rgb(211, 190, 200);
 margin-left:-130%;
} 

.side-title{
  border-bottom: bold 7px;
}

.cardsbody{
  font-family: 'Cabin';
  font-size: 17px;
  text-align: left;
}

